/* ----------- SIDEBAR ----------- */
.sidebar--list {
    position: sticky;
    width: 347px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: var(--gray-color-1);
}

.sidebar--list .profile {
    padding: 30px 50px;
}

.profile img {
    width: 70px;
}

.profile p {
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 19px;
    line-height: var(--line-height2);
    color: var(--gray-color-7);
    margin-left: 80px;
    margin-top: -65px;
    margin-bottom: 2px;
}

.profile button {
    font-family: var(--body-font);
    font-weight: var(--font-medium);
    font-size: 19px;
    line-height: var(--line-height2);
    color: var(--primary-color-3);
    background-color: var(--gray-color-1);
    border: none;
    margin-left: 80px;
}

.sidebar--list i {
    font-size: 20px;
    color: var(--primary-color-3);
    margin-right: 10px;
}

.sidebar--list a {
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 19px;
    line-height: var(--line-height2);
    color: var(--gray-color-7);
    display: flex;
    padding: 16px;
    text-decoration: none;
}

.sidebar--list .menu {
    padding-left: 40px;
}

.menu button {
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 19px;
    line-height: var(--line-height2);
    color: var(--gray-color-7);
}

.dropdown-btn {
    text-align: left;
    display: block;
    width: 100%;
    padding: 16px;
    border: none;
    background-color: inherit;
    color: var(--gray-color-7);
    cursor: pointer;
    outline: none;
}

.dropdown-container {
    display: none;
    padding-left: 10px;
}

.dropdown-container a:hover,
.sidebar--list a:hover {
    font-size: 19px;
    color: var(--primary-color-3);
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* ----------- KONTEN ----------- */
#content .title h5 {
    margin: 40px 0px;
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 32px;
    line-height: var(--line-height1);
    /* identical to box height, or 45px */


    /* Gray/07 */

    color: var(--gray-color-7);
}

#content .box {
    border-top: 1px solid var(--gray-color-3);
    border-bottom: 1px solid var(--gray-color-3);
    padding: 50px;
    width: 85%;
}

#content .title--box {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

#content .title--box p {
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 20px;
    line-height: var(--line-height2);
    margin-top: 10px;
    margin-bottom: 10px;
    /* identical to box height, or 30px */


    /* Gray/07 */

    color: var(--gray-color-7);
}

#content .title--box a {
    font-family: var(--button-font);
    font-weight: var(--font-medium);
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    /* BWA/White */

    color: var(--white-color);

}

#content .text--box p {
    text-align: center;
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 20px;
    line-height: var(--line-height2);
    /* identical to box height, or 30px */


    /* Gray/03 */

    color: var(--gray-color-3);
}

#terdaftar .body {
    display: flex;
    /* justify-content: space-between; */
}

.ikon i {
    color: var(--primary-color-3);
}

.bank h6 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-left: 20px;
    /* identical to box height, or 21px */


    /* Gray/07 */

    color: #483F2D;
}

.line {
    margin-top: 10px;
    width: 30px;
    height: 0px;

    /* Primary/04 */

    border: 1px solid var(--gray-color-3);
    transform: rotate(90deg);
}

.nama--kartu h6 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-top: -20px;
    /* identical to box height, or 30px */


    /* Gray/07 */

    color: #483F2D;
}

.nama--kartu p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* Gray/07 */

    color: #483F2D;
}

.nama--kartu {
    margin-left: 10px;
}

.text p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-left: 320px;
    /* identical to box height, or 30px */


    /* System/Success/06 */

    color: #22C55E;
}

/* ----------- KONTEN ----------- */
/* Style untuk popup */
.modal {
    display: none;
    /* Sembunyikan popup saat pertama kali diload */
    position: fixed;
    /* Tetapkan posisi popup */
    z-index: 9999;
    /* Letakkan popup di atas elemen lain */
    width: 100%;
    /* Set lebar popup menjadi 100% */
    height: 100%;
    /* Set tinggi popup menjadi 100% */
    overflow: auto;
    /* Izinkan scrolling jika konten terlalu panjang */
    background-color: rgba(0, 0, 0, 0.4);
    /* Set background color dan opacity */
}

/* Style untuk konten popup */
.modal-content {
    background-color: #fefefe;
    margin: 150px auto;
    /* Set margin atas dan bawah, dan atur margin kiri dan kanan agar popup berada di tengah */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 45%;
    /* Set lebar konten popup */
}

/* Style untuk tombol close */
.close {
    color: #aaa;
    margin-left: 500px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#editProfileForm input {
    margin-bottom: 20px;
}

.modal-content h2 {
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 32px;
    line-height: var(--line-height1);
    margin-bottom: 30px;
    /* identical to box height, or 45px */


    /* Gray/07 */

    color: var(--gray-color-7);

}

.modal-content h6 {
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 20px;
    line-height: var(--line-height2);
    margin-bottom: 20px;
    /* identical to box height, or 30px */


    /* Gray/07 */

    color: var(--gray-color-7);
}

#editProfileForm button {
    margin-left: 462px;
    font-family: var(--body-font);
    font-weight: var(--font-medium);
    font-size: 14px;
    line-height: 21px;
    border: none;
    /* identical to box height */


    /* BWA/White */

    color: var(--white-color);
    padding: 12px 20px;

    /* Gray/04 */

    background: var(--gray-color-4);
    border-radius: 8px;
}

#editProfileForm button:hover {
    background: var(--primary-color-9);
}