/* -------------- BLOG SECTION -------------- */

.img-blog-content {
	background-image: url("/img/kbc-logo.png");
}

#headline-blog .consultant-profile {
	display: flex;
	align-items: center;
	column-gap: 40px;
}

#headline-blog .consultant-profile img {
	width: 135px;
	height: 135px;
	clip-path: circle();
}

#headline-blog .consultant-profile p {
	margin: 0;
}

#blog p {
	margin: 40px 0;
}

#blog img {
	width: 100%;
	border-radius: 30px;
}

#blog .suggest-blog {
	border-top: 1px solid var(--gray-color-3);
}

#blog .suggest-blog h5 {
	margin-block: 20px;
	color: var(--primary-color-5);
}

#blog .card p {
	margin: 0;
}

#comment {
	margin-bottom: 20px;
}

#comment .comment-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--gray-color-3);
}

#comment .comment-header p {
	margin: 0;
}

#comment .comment-body {
	display: flex;
	align-items: center;
	margin: 30px 0;
}

#comment .comment-body img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	clip-path: circle();
}

#comment .comment-body textarea {
	margin-left: 20px;
	width: 100%;
	height: 100%;
	padding: 20px;
}

#comment .comment-card {
	border: 1px solid var(--gray-color-3);
	border-radius: 12px;
	padding: 30px 40px;
}

#comment .comment-card img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	clip-path: circle();
}

#comment .comment-card-header {
	display: flex;
	align-items: center;
	margin-block-end: 30px;
}

#comment .comment-card-info {
	margin-inline-start: 30px;
}
#comment .comment-card-info :where(p, h3) {
	margin: 0;
}

.like-dislike {
	display: flex;
}

.like-dislike :where(p, i) {
	color: var(--primary-color-5);
	margin: 0;
	margin-right: 10px;
	font-size: 20px;
}
