@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/

:root {
    --header-height: 4.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(220, 68%, 54%);
    --first-color-lighten: hsl(220, 68%, 97%);
    --title-color: hsl(220, 48%, 28%);
    --text-color: hsl(220, 12%, 45%);
    --body-color: hsl(220, 100%, 99%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Manrope", sans-serif;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /* Neutral Color */
    --white-color: #ffffff;
    --black-color: #000000;

    /* Primary Color */
    --primary-color-1: #f7eed2;
    --primary-color-2: #f0dba8;
    --primary-color-3: #d4b374;
    --primary-color-4: #a9844a;
    --primary-color-5: #704c1c;
    --primary-color-6: #603c14;
    --primary-color-7: #502e0e;
    --primary-color-8: #402108;
    --primary-color-9: #351805;

    /* Secondary Color */
    --secondary-color-1: #fbf2cd;
    --secondary-color-2: #f8e39d;
    --secondary-color-3: #ebc96a;
    --secondary-color-4: #d8ac44;
    --secondary-color-5: #be8511;
    --secondary-color-6: #a36c0c;
    --secondary-color-7: #885508;
    --secondary-color-8: #402108;
    --secondary-color-9: #351805;

    /* Gray Color */
    --gray-color-1: #f9f8f4;
    --gray-color-2: #f3f1e9;
    --gray-color-3: #dbd7ce;
    --gray-color-4: #b7b3a9;
    --gray-color-5: #65625b;
    --gray-color-6: #565042;
    --gray-color-7: #483f2d;
    --gray-color-8: #3a2e1d;
    --gray-color-9: #302311;

    /* Danger Color */
    --red-color: #e74c3c;
    --danger-color-1: #fef2f2;
    --danger-color-2: #fee2e2;
    --danger-color-3: #fecaca;
    --danger-color-4: #fca5a5;
    --danger-color-5: #fca5a5;
    --danger-color-6: #ef4444;
    --danger-color-7: #dc2626;
    --danger-color-8: #b91c1c;
    --danger-color-9: #991b1b;

    /* Warning Color */
    --warning-color-1: #fefce8;
    --warning-color-2: #fef9c3;
    --warning-color-3: #fef08a;
    --warning-color-4: #fde047;
    --warning-color-5: #facc15;
    --warning-color-6: #eab308;
    --warning-color-7: #ca8a04;
    --warning-color-8: #a16207;
    --warning-color-9: #854d0e;

    /* Success Color */
    --success-color-1: #f0fdf4;
    --success-color-2: #dcfce7;
    --success-color-3: #bbf7d0;
    --success-color-4: #86efac;
    --success-color-5: #4ade80;
    --success-color-6: #22c55e;
    --success-color-7: #16a34a;
    --success-color-8: #15803d;
    --success-color-9: #166534;

    /* Normal Color */
    --normal-color-1: #eff6ff;
    --normal-color-2: #dbeafe;
    --normal-color-3: #bfdbfe;
    --normal-color-4: #93c5fd;
    --normal-color-5: #60a5fa;
    --normal-color-6: #3b82f6;
    --normal-color-7: #2563eb;
    --normal-color-8: #1d4ed8;
    --normal-color-9: #1e40af;

    /* Border Color */
    --border-color: #15008b;
}

/*========== Responsive typography==========*/
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

/*=============== BASE ===============*/

body {
    width: 100%;
    color: var(--black-color);
}

h1 {
    font-size: 58px;
    font-weight: 800;
    line-height: 140%;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 140%;
}

h3 {
    font-size: 40px;
    font-weight: 800;
    line-height: 140%;
}

h4 {
    font-size: 32px;
    font-weight: 800;
    line-height: 140%;
}

h5 {
    font-size: 28px;
    font-weight: 800;
    line-height: 140%;
}

h6 {
    font-size: 25px;
    font-weight: 800;
    line-height: 140%;
}

p {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    color: var(--black-color);
}

span {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    color: var(--black-color);
}

a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color-9);
}

a:hover {
    color: var(--primary-color-9);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px;
}

.box-icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    border-radius: 8px;
    border: 1px solid var(--gray-color-4);
    color: var(--gray-color-4);
    cursor: pointer;
}

.box-icon:hover {
    border: 1px solid var(--danger-color-4);
    background-color: var(--danger-color-2);
    color: var(--danger-color-7);
}

.img-cropped {
    object-fit: cover;
    object-position: center center;
    width: 250px;
    height: 250px;
}

/* Primary Button */

.sm-primary-button {
    border: 1px solid var(--primary-color-9);
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    background-color: var(--primary-color-9);
    color: var(--white-color);
}

.primary-button {
    border: 1px solid var(--primary-color-9);
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--primary-color-9);
    color: var(--white-color);
}

.lg-primary-button {
    border: 1px solid var(--primary-color-9);
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--primary-color-9);
    color: var(--white-color);
}

.sm-primary-button:hover,
.primary-button:hover,
.lg-primary-button:hover,
.log-primary-button:hover {
    background-color: var(--primary-color-7);
    transition: 0.1s ease-in;
}

/* Secondary Button */

.sm-secondary-button {
    border: 1px solid var(--primary-color-9);
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    background-color: var(--white-color);
    color: var(--primary-color-9);
}

.secondary-button {
    border: 1px solid var(--primary-color-9);
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color-9);
}

.lg-secondary-button {
    border: 1px solid var(--primary-color-9);
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color-9);
}

.sm-secondary-button:hover,
.secondary-button:hover,
.lg-secondary-button:hover,
.log-secondary-button:hover {
    background-color: var(--primary-color-7);
    color: var(--white-color);
    transition: 0.1s ease-in;
}

/* Teriary Button */

.sm-teriary-button {
    border: none;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    background-color: var(--white-color);
    color: var(--primary-color-5);
}

.teriary-button {
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color-5);
}

.lg-teriary-button {
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color-5);
}

.sm-teriary-button:hover,
.teriary-button:hover,
.lg-teriary-button:hover {
    outline: 4px solid var(--primary-color-7);
    transition: 0.1s ease-in;
}

/* Disable Button */

.sm-disable-button {
    border: none;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    background-color: var(--gray-color-2);
    color: var(--white-color);
}

.disable-button {
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--gray-color-2);
    color: var(--white-color);
}

.lg-disable-button {
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--gray-color-2);
    color: var(--white-color);
}

/* State Button */

.sm-state-button {
    border: none;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    background-color: var(--secondary-color-5);
    color: var(--white-color);
}

.state-button {
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--secondary-color-5);
    color: var(--white-color);
}

.lg-state-button {
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--secondary-color-5);
    color: var(--white-color);
}

.log-primary-button {
    border: 1px solid var(--primary-color-9);
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--primary-color-9);
    color: var(--white-color);
}

.log-secondary-button {
    border: 1px solid var(--primary-color-9);
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color-9);
}

/* Input and Textarea Style */

input,
textarea {
    width: 450px;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid var(--gray-color-3);
    box-shadow: 0px 0px 20px -18px;
}

input:focus,
textarea:focus {
    outline: none !important;
    border: 2px solid var(--border-color);
}

/* Post Header */

#header-post {
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: top right;
}

#header-post .header-post-wrap {
    background: linear-gradient(89.9deg,
            #DBD7CE 32.35%,
            rgba(64, 33, 8, 0.476024) 59.95%,
            rgba(64, 33, 8, 0.2) 99.88%);

}

#header-post .header-post-box {
    padding-block: 40px;
}

#header-post .header-post-box h1 {
    font-family: "Manrope";
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 2px;
}

#header-post .header-post-box p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container__navbar {
    max-width: 1118px;
    margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    background: var(--white-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
}

/*=============== NAV ===============*/

.nav {
    height: var(--header-height);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list a {
    font-family: "Manrope";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    color: var(--gray-color-7);
}

.nav__list i {
    color: var(--gray-color-9);
    margin-right: 10px;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.3px;
}

.nav__logo img {
    width: 80px;
    height: 100%;
}

.nav__link {
    color: var(--primary-color-5);
    font-weight: var(--font-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: var(--white-color);
    color: var(--primary-color-7);
}

.button__navbar {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.button__navbar .user-login {
    display: inline-flex;
    align-items: center;
}

.button__navbar img {
    width: 35px;
    clip-path: circle();
    margin-right: 15px;
}

.button__navbar p {
    margin: 0;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */

@media screen and (min-width: 1118px) {

    /* Nav */
    .nav {
        height: calc(var(--header-height) + 1rem);
        display: flex;
        justify-content: space-between;
    }

    .nav__list {
        display: flex;
        column-gap: 3rem;
        height: 100%;
        margin-left: -300px;
    }

    .nav li {
        display: flex;
    }

    .nav__link {
        padding: 0;
    }

    .nav__link:hover {
        background-color: initial;
    }
}

@media screen and (min-width: 1152px) {
    .container__navbar {
        margin-inline: auto;
    }
}

/* ----------- USER SECTION ----------- */

#user {
    display: flex;
    flex-direction: row;
}

#user li {
    list-style: none;
}

#user li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
    transition: 0.3s ease;
}

#user p {
    margin: 0;
    font-weight: 600;
}

#user i {
    color: var(--black-color);
}

#user .user-login {
    display: inline-flex;
    align-items: center;
}

#user img {
    width: 35px;
    clip-path: circle();
    margin-right: 15px;
}

/* ----------- FORM SECTION ----------- */
body {
    background-color: #ede7f6;
    font-family: "Roboto", sans-serif;
}

.form {
    height: 2950px;
    margin: auto;
}

.form span {
    font-size: 16px;
    color: var(--red-color);
}

.form-nama,
.form-email,
.form-telp,
.form-nama-perusahaan,
.form-permasalahan {
    box-sizing: border-box;

    width: 1100px;
    height: 138px;

    margin: 15px;
    background: #FFFFFF;
    border: 1px solid #DADCE0;
    border-radius: 8px;
}

.form-alamat-usaha,
.form-website-usaha,
.form-bidang-usaha,
.form-jumlah-karyawan,
.form-omset-tahunan {
    box-sizing: border-box;

    width: 1100px;
    height: 164px;

    margin: 15px;
    background: #FFFFFF;
    border: 1px solid #DADCE0;
    border-radius: 8px;
}

.form-lama-usaha {
    box-sizing: border-box;

    width: 1100px;
    height: 276px;

    margin: 15px;
    background: #FFFFFF;
    border: 1px solid #DADCE0;
    border-radius: 8px;
}

.form-bentuk-usaha,
.form-servis-kami {
    box-sizing: border-box;

    width: 1100px;
    height: 356px;

    margin: 15px;
    background: #FFFFFF;
    border: 1px solid #DADCE0;
    border-radius: 8px;
}

.nama,
.email,
.telp,
.nama-perusahaan,
.permasalahan {
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.alamat-usaha,
.website-usaha,
.bidang-usaha,
.jumlah-karyawan,
.omset-tahunan,
.bentuk-usaha,
.lama-usaha,
.servis-kami {
    padding-top: 20px;
    padding-left: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


.form-check input {
    box-sizing: border-box;

    margin-top: 15px;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 2px;

    border: 2px solid #5F6368;
    border-radius: 10px;
}

.form-check label {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    padding-left: 5px;
    font-size: 15px;
    line-height: 22px;
}

.text {
    padding-left: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.input-nama,
.input-email,
.input-telp,
.input-nama-perusahaan,
.input-permasalahan {
    padding-top: 1px;
    padding-left: 5px;
}

.input-alamat-usaha,
.input-website-usaha,
.input-bidang-usaha,
.input-jumlah-karyawan,
.input-omset-tahunan {
    padding-top: 30px;
    padding-left: 5px;
}

.input-nama input,
.input-email input,
.input-telp input,
.input-nama-perusahaan input,
.input-alamat-usaha input,
.input-website-usaha input,
.input-bidang-usaha input,
.input-jumlah-karyawan input,
.input-omset-tahunan input,
.input-permasalahan input {
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 15px;
}

.garis-nama,
.garis-email,
.garis-telp,
.garis-nama-perusahaan,
.garis-alamat-usaha,
.garis-website-usaha,
.garis-bidang-usaha,
.garis-jumlah-karyawan,
.garis-omset-tahunan,
.garis-permasalahan {
    height: 1px;
    width: 415px;
    margin-left: 25px;

    background: rgba(0, 0, 0, 0.12);
}

.input-servis-kami input {
    border: none;
    box-shadow: none;
    outline: none;
    width: 980px;
    margin-top: -100px;
    margin-left: 90px;
    font-size: 15px;
}

.garis-servis-kami {
    height: 1px;
    width: 950px;
    margin-left: 110px;

    background: rgba(0, 0, 0, 0.12);
}

.form .sm-primary-button {
    margin-top: 50px;
    padding: 10px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

/* ----------- FOOTER SECTION ----------- */

#footer {
    padding-top: 50px;
    background-color: var(--primary-color-9);
}

#footer .logo-footer {
    margin-bottom: 40px;
}

#footer img {
    width: 96px;
    height: 88px;
}

#footer :where(p, h5) {
    color: var(--white-color);
}

#footer p {
    font-size: 14px;
}

#footer h5 {
    font-size: 16px;
    margin-bottom: 20px;
}

#footer .social-media i {
    color: var(--white-color);
}

#footer .footer-wrap {
    display: flex;
}

#footer .footer-wrap p {
    padding: 20px;
    margin: 0;
}

#footer .search-bar input {
    width: 70%;
}

#footer .search-bar button {
    background-color: var(--secondary-color-7);
}

#footer .social-media {
    display: flex;
}

#footer .social-media button {
    margin-left: 8px;
    width: 40px;
    height: 40px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    text-decoration: none;
    border: 1px solid var(--secondary-color-4);
    border-radius: 90px;
    color: rgb(40, 144, 241);
    transition: color 0.3s 0.1s ease-out;
}

#footer .footer-social-media {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .social-media {
    display: flex;
    align-items: center;
}

#footer .social-media button:hover {
    background-color: var(--secondary-color-4);
    transition: color 0.3s 0.1s ease-out;
    color: white;
    border: none;
}