/*=============== HERO ===============*/
#hero a {
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 20px;
    margin-top: 50px;
    line-height: var(--line-height2);
    color: var(--gray-color-7);
}

#hero i {
    padding-right: 50px;

}

.hero__link {
    color: var(--primary-color-5);
    font-weight: var(--font-bold);
    padding: 1.25rem 0;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

/*=============== METODE PEMBAYARAN ===============*/
#bank .title h3,
#e-wallet .title h3 {
    height: 50px;
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 20px;
    padding-left: 20px;
    margin-top: 20px;
    line-height: var(--line-height2);
    /* identical to box height, or 30px */

    display: flex;
    align-items: center;

    color: var(--black-color);
}

#bank .card-bca,
#bank .card-bri,
#bank .card-bni,
#bank .card-mandiri,
#e-wallet .card-shopeepay,
#e-wallet .card-ovo,
#e-wallet .card-gopay,
#e-wallet .card-linkaja {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 50px;
    margin-top: 10px;
    gap: 20px;
    height: 100px;

    background: var(--white-color);
    /* Gray/04 */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

    border: 1px solid var(--gray-color-4);
    border-radius: 15px;
}

#bank .card-bca p,
#bank .card-bri p,
#bank .card-bni p,
#bank .card-mandiri p,
#e-wallet .card-shopeepay p,
#e-wallet .card-ovo p,
#e-wallet .card-gopay p,
#e-wallet .card-linkaja p {
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    font-size: 20px;
    margin-top: 15px;
    line-height: var(--line-height2);
    /* or 24px */

    display: flex;
    align-items: center;

    color: var(--black-color);
}

/*=============== FOOTER ===============*/
#footer {
    margin-top: 100px;
}