#header-post {
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: top right;
}

#header-post .header-post-wrap {
	background: linear-gradient(
		90deg,
		rgba(64, 33, 8, 0.96) 40%,
		rgba(64, 33, 8, 0.8) 68%,
		rgba(64, 33, 8, 0.6) 82%,
		rgba(64, 33, 8, 0.4) 90%,
		rgba(64, 33, 8, 0.2) 100%
	);
}

#header-post .header-post-wrap img {
	object-fit: cover;
}

#header-post .header-post-box {
	padding-block: 40px;
}

#header-post .header-post-box .route {
	column-gap: 10px;
	display: inline-flex;
	color: var(--white-color);
}

#header-post .header-post-box .route i:before {
	vertical-align: -0.1rem;
	-webkit-text-stroke: 1px;
}

#header-post .header-post-box :where(h1, p) {
	color: var(--white-color);
}

#header-post .search-bar {
	column-gap: 30px;
}

.img-random {
	background-image: url("/img/consultation.jpg");
}
