/* ----------- HERO SECTION ----------- */

#faq-hero {
	background-image: url(img/bg-seminar.png);
	height: 320px;
}

#hero {
	line-height: 21px;
	display: flex;
}

#hero a {
	margin-top: 50px;
	text-decoration: none;
	font-size: 16px;
	color: #ffffff;
}

#faq h3 {
	color: #ffffff;
	padding-top: 20px;
	font-family: "manrope", sans-serif;
	font-weight: 600px;
	font-size: 40px;
	line-height: 56px;
}

#faq p {
	color: #ffffff;
	font-family: "manrope", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
}

#search .btn {
	width: 88px;
	height: 40px;
	left: 337px;
	border-radius: 6px;
	padding: 10px, 20px, 10px, 20px;
	color: #ffffff;
	background-color: #704c1c;
}

/* ----------- HEADLINE SECTION ----------- */

#headline-faq h3 {
	font-family: "Manrope";
	font-weight: 600;
	font-size: 40px;
	line-height: 56px;
	text-align: center;
	color: #000000;
}

#headline-faq span {
	color: #704c1c;
}

#headline-faq p {
	font-family: "Manrope";
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	padding-left: 25px;
	padding-right: 25px;
}

/* ----------- TENTANG KAMI SECTION ----------- */

#tentang-kami .judul h4 {
	font-family: "Manrope";
	font-weight: 600;
	font-size: 28px;
	line-height: 44.8px;
	color: #704c1c;
	text-align: center;
}

/* 1 */

.select-menu1 {
	margin: 50px auto;
	width: 880px;
}

.select-menu1 .select-btn1 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn1 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text1 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu1.active .select-btn1 i {
	transform: rotate(-180deg);
}

.select-menu1 .options1 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu1.active .options1 {
	display: block;
}

.options1 .option1 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options1 .option1:hover {
	background: #f2f2f2;
}

.option1 i {
	font-size: 20px;
	margin-right: 12px;
}

/* 2 */

.select-menu2 {
	margin: 50px auto;
	width: 880px;
}

.select-menu2 .select-btn2 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn2 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text2 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu2.active .select-btn2 i {
	transform: rotate(-180deg);
}

.select-menu2 .options2 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu2.active .options2 {
	display: block;
}

.options2 .option2 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options2 .option2:hover {
	background: #f2f2f2;
}

.option2 i {
	font-size: 20px;
	margin-right: 12px;
}

/* 3 */

.select-menu3 {
	margin: 50px auto;
	width: 880px;
}

.select-menu3 .select-btn3 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn3 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text3 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu3.active .select-btn3 i {
	transform: rotate(-180deg);
}

.select-menu3 .options3 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu3.active .options3 {
	display: block;
}

.options3 .option3 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options3 .option3:hover {
	background: #f2f2f2;
}

.option3 i {
	font-size: 20px;
	margin-right: 12px;
}

/* ----------- PROGRAM SECTION ----------- */

#program .judul-program h4 {
	font-family: "Manrope";
	font-weight: 600;
	font-size: 28px;
	line-height: 44.8px;
	color: #704c1c;
	text-align: center;
}

/* 4 */

.select-menu4 {
	margin: 50px auto;
	width: 880px;
}

.select-menu4 .select-btn4 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn4 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text4 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu4.active .select-btn4 i {
	transform: rotate(-180deg);
}

.select-menu4 .options4 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu4.active .options4 {
	display: block;
}

.options4 .option4 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options4 .option4:hover {
	background: #f2f2f2;
}

.option4 i {
	font-size: 20px;
	margin-right: 12px;
}

/* 5 */

.select-menu5 {
	margin: 50px auto;
	width: 880px;
}

.select-menu5 .select-btn5 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn5 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text5 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu5.active .select-btn5 i {
	transform: rotate(-180deg);
}

.select-menu5 .options5 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu5.active .options5 {
	display: block;
}

.options5 .option5 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options5 .option5:hover {
	background: #f2f2f2;
}

.option5 i {
	font-size: 20px;
	margin-right: 12px;
}

/* 6 */

.select-menu6 {
	margin: 50px auto;
	width: 880px;
}

.select-menu6 .select-btn6 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn6 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text6 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu6.active .select-btn6 i {
	transform: rotate(-180deg);
}

.select-menu6 .options6 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu6.active .options6 {
	display: block;
}

.options6 .option6 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options6 .option6:hover {
	background: #f2f2f2;
}

.option6 i {
	font-size: 20px;
	margin-right: 12px;
}

/* ----------- SERVICE SECTION ----------- */

#service .judul-service h4 {
	font-family: "Manrope";
	font-weight: 600;
	font-size: 28px;
	line-height: 44.8px;
	color: #704c1c;
	text-align: center;
}

/* 7 */

.select-menu7 {
	margin: 50px auto;
	width: 880px;
}

.select-menu7 .select-btn7 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn7 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text7 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu7.active .select-btn7 i {
	transform: rotate(-180deg);
}

.select-menu7 .options7 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu7.active .options7 {
	display: block;
}

.options7 .option7 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options7 .option7:hover {
	background: #f2f2f2;
}

.option7 i {
	font-size: 20px;
	margin-right: 12px;
}

/* 8 */

.select-menu8 {
	margin: 50px auto;
	width: 880px;
}

.select-menu8 .select-btn8 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn8 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text8 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu8.active .select-btn8 i {
	transform: rotate(-180deg);
}

.select-menu8 .options8 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu8.active .options8 {
	display: block;
}

.options8 .option8 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options8 .option8:hover {
	background: #f2f2f2;
}

.option8 i {
	font-size: 20px;
	margin-right: 12px;
}

/* 9 */

.select-menu9 {
	margin: 50px auto;
	width: 880px;
}

.select-menu9 .select-btn9 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn9 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text9 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu9.active .select-btn9 i {
	transform: rotate(-180deg);
}

.select-menu9 .options9 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu9.active .options9 {
	display: block;
}

.options9 .option9 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options9 .option9:hover {
	background: #f2f2f2;
}

.option9 i {
	font-size: 20px;
	margin-right: 12px;
}

/* ----------- PENDAFTARAN SECTION ----------- */

#pendaftaran .judul-pendaftaran h4 {
	font-family: "Manrope";
	font-weight: 600;
	font-size: 28px;
	line-height: 44.8px;
	color: #704c1c;
	text-align: center;
}

/* 10 */

.select-menu10 {
	margin: 50px auto;
	width: 880px;
}

.select-menu10 .select-btn10 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn10 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text10 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu10.active .select-btn10 i {
	transform: rotate(-180deg);
}

.select-menu10 .options10 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu10.active .options10 {
	display: block;
}

.options10 .option10 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options10 .option10:hover {
	background: #f2f2f2;
}

.option10 i {
	font-size: 20px;
	margin-right: 12px;
}

/* 11 */

.select-menu11 {
	margin: 50px auto;
	width: 880px;
}

.select-menu11 .select-btn11 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn11 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text11 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu11.active .select-btn11 i {
	transform: rotate(-180deg);
}

.select-menu11 .options11 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu11.active .options11 {
	display: block;
}

.options11 .option11 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options11 .option11:hover {
	background: #f2f2f2;
}

.option11 i {
	font-size: 20px;
	margin-right: 12px;
}

/* 12 */

.select-menu12 {
	margin: 50px auto;
	width: 880px;
}

.select-menu12 .select-btn12 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn12 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text12 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu12.active .select-btn12 i {
	transform: rotate(-180deg);
}

.select-menu12 .options12 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu12.active .options12 {
	display: block;
}

.options12 .option12 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options12 .option12:hover {
	background: #f2f2f2;
}

.option12 i {
	font-size: 20px;
	margin-right: 12px;
}

/* ----------- PEMBAYARAN SECTION ----------- */

#pembayaran .judul-pembayaran h4 {
	font-family: "Manrope";
	font-weight: 600;
	font-size: 28px;
	line-height: 44.8px;
	color: #704c1c;
	text-align: center;
}

/* 13 */

.select-menu13 {
	margin: 50px auto;
	width: 880px;
}

.select-menu13 .select-btn13 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn13 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text13 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu13.active .select-btn13 i {
	transform: rotate(-180deg);
}

.select-menu13 .options13 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu13.active .options13 {
	display: block;
}

.options13 .option13 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options13 .option13:hover {
	background: #f2f2f2;
}

.option13 i {
	font-size: 20px;
	margin-right: 12px;
}

/* 14 */

.select-menu14 {
	margin: 50px auto;
	width: 880px;
}

.select-menu14 .select-btn14 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn14 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text14 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu14.active .select-btn14 i {
	transform: rotate(-180deg);
}

.select-menu14 .options14 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu14.active .options14 {
	display: block;
}

.options14 .option14 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options14 .option14:hover {
	background: #f2f2f2;
}

.option14 i {
	font-size: 20px;
	margin-right: 12px;
}

/* 15 */

.select-menu15 {
	margin: 50px auto;
	width: 880px;
}

.select-menu15 .select-btn15 {
	display: flex;
	background: white;
	height: 55px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.select-btn15 i {
	font-size: 20px;
	transition: 0.3s;
}

.sBtn-text15 i {
	font-size: 20px;
	color: #a9844a;
}

.select-menu15.active .select-btn15 i {
	transform: rotate(-180deg);
}

.select-menu15 .options15 {
	position: relative;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: none;
}

.select-menu15.active .options15 {
	display: block;
}

.options15 .option15 {
	height: 55px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	padding: 0 16px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.options15 .option15:hover {
	background: #f2f2f2;
}

.option15 i {
	font-size: 20px;
	margin-right: 12px;
}
